In [2]:
import numpy as np
import pandas as pd
import io, requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.relative_locator import locate_with
import time

C:\Users\10\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.12) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [22]:
cdata = pd.read_csv('Cleaned Data')

In [23]:
cdata.drop(cdata.columns[0], axis=1, inplace= True)

In [24]:
cdata.shape

(30171, 9)

In [25]:
cdata.isna().sum()

Unnamed: 0.1              0
name                      3
position                  0
age                       0
origin_club               0
country_origin_club     889
new_club                  0
country_new_club       5387
cost                      0
dtype: int64

In [26]:
c = 0
l = []
for u in cdata.name.isna():
    if u == True:
        l.append(c)
    c+=1

In [27]:
cdata.drop(l,axis=0,inplace=True)

In [28]:
counter = -1

In [29]:
name = cdata.name[counter+1:counter+2000]
ffx = webdriver.Chrome()

ffx.get("https://www.transfermarkt.com")

bigLi = []


for e in name:

    li = []
    li.append(e) 
    try:
        # Search with player name
        ffx.find_element(By.CSS_SELECTOR, '[class="tm-header__input--search-field"]').send_keys(e) 


        # press Enter Key
        ffx.find_element(By.CSS_SELECTOR,'[class="tm-header__input--search-send"]').send_keys(Keys.ENTER) 

        player = ffx.find_element(By.CSS_SELECTOR,'td[class= "rechts hauptlink"]')
        li3.append(player.text)
        
        # get player profile link like :   " https://www.transfermarkt.com/james-rodriguez/profile/spieler/88103 "
        url = ffx.find_element(By.CSS_SELECTOR,'td[class= "hauptlink"]').find_element(By.TAG_NAME,'a').get_attribute('href')
        
    except:
        continue
    counter +=1
    pages = ['leistungsdatenverein', 'nationalmannschaft', 'marktwertverlauf']

                #leistungsdatenverein --->  stat page
                #nationalmannschaft  --->  natoinal team stat page
                #marktwertverlauf   ---> markert value rank

    for page in pages:                    # switching betweem website pages from change this part  ----/profile/----
        x = url.split('/')
        x[4] = page
        for i in range(len(x)):
            x[i] = x[i] + "/"
        url = ''.join(str(u) for u in x)

        ffx.get(url)



        if page == 'leistungsdatenverein':  
            try:
                stat = ffx.find_element(By.CSS_SELECTOR, 'div[id="yw1"]').find_element(By.TAG_NAME,'tfoot')  
                
                for i, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="zentriert"]'), range(1,7)):
                    li.append(i.get_attribute("innerHTML"))

                for x, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="rechts"]'), range(7,9)):
                    li.insert(j, x.get_attribute("innerHTML"))
            except:
                while len(li) < 9 :
                    li.append('none')


        elif page == 'nationalmannschaft':  
            try:
                stat = ffx.find_element(By.CSS_SELECTOR, 'div[id="yw1"]').find_element(By.TAG_NAME,'tfoot')
                
                for i, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="zentriert"]'), range(9,15)):
                    li.insert(j, i.get_attribute("innerHTML"))

                for x, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="rechts"]'), range(15,17)):
                    li.insert(j, x.get_attribute("innerHTML"))
            except:
                while len(li) < 17 :
                    li.append('none')

        else:
            try:
                for i, j in zip(ffx.find_elements(By.CSS_SELECTOR, 'span[class="quick-fact__content--large"]'), range(17,23)):
                    li.append(i.get_attribute("innerHTML"))
            except :   
                while len(li) < 23 :
                    li.append('none')

    bigLi.append(li)


ffx.quit()

In [44]:
counter

1998

In [45]:
q = 0
for z, i  in zip(bigLi, range(len(bigLi))):
    while len(z) < 22 :
        z.append('none')
    else :
        bigLi[i] = bigLi[i][:22]
    q+=1

In [46]:
df = pd.DataFrame(bigLi, columns=['names', 'apperance', 'goals', 'assists', 'yellow_card', '2nd_ycard', 'red_card', 'drop','min', 'apperance_NT', 'goals_NT', 'assists_NT', 'yellow_card_NT', '2nd_ycard_NT', 'red_card_NT', 'drop NT','min_NT','world_rank', 'league_rank', 'club_rank', 'National_rank', 'position_rank'])

In [47]:
df.drop(['drop', 'drop NT'], axis= 1, inplace=True)

In [48]:
df.replace('-',0, inplace=True)

In [35]:
data = data.append(df, ignore_index=True)

NameError: name 'data' is not defined

In [49]:
df.to_csv('scraped_data')

In [53]:
data = pd.read_csv('scraped_data')

In [54]:
data.drop(data.columns[0], axis=1, inplace= True)

In [55]:
data.shape

(7842, 20)

In [56]:
data.head()

,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,goals_NT,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
0,Mohamed Sobhi,37,0,3,8,0,0,2.947',6,0,1,0,0,0,152',none,none,none,none,none
1,Mohanad Lasheen,130,5,5,15,1,0,10.770',5,0,0,1,0,0,207',33,3,34,979,658
2,Mohamed Reda,167,1,15,16,0,0,13.304',6,0,1,1,0,0,424',16,75,730,832,none
3,Ahmed Atef,15,3,0,2,0,0,341',none,none,none,none,none,none,none,none,none,none,none,none
4,Kirill Zinovich,40,4,3,9,0,0,2.478',9,1,1,1,0,0,487',none,none,none,none,none

In [43]:
data.tail()

,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,goals_NT,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
1939,Giovanni D'Aprile,22,0,0,3,1,0,1.546',1,0,0,0,0,0,90',none,none,none,none,none
1940,Chang-won Choi,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none
1941,Josip Ljubic,29,2,0,2,0,0,2.449',none,none,none,none,none,none,none,none,none,none,none,none
1942,Giovani,261,35,33,44,2,1,15.636',39,2,8,7,0,0,2.525',343,59,6,17,50
1943,Rodrigo Cabrera,249,8,5,76,1,5,21.058',none,none,none,none,none,none,none,none,none,none,none,none

In [3]:
cdata = pd.read_csv('scraped_data')

In [4]:
cdata

,Unnamed: 0,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,...,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
0,0,Mohamed Sobhi,37,0,3,8,0,0,2.947',6,...,1,0,0,0,152',none,none,none,none,none
1,1,Mohanad Lasheen,130,5,5,15,1,0,10.770',5,...,0,1,0,0,207',33,3,34,979,658
2,2,Mohamed Reda,167,1,15,16,0,0,13.304',6,...,1,1,0,0,424',16,75,730,832,none
3,3,Ahmed Atef,15,3,0,2,0,0,341',none,...,none,none,none,none,none,none,none,none,none,none
4,4,Kirill Zinovich,40,4,3,9,0,0,2.478',9,...,1,1,0,0,487',none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,11735,Goudarz Davoudi,35,0,2,1,1,44,3.105',none,...,none,none,none,none,none,none,none,none,none,none
11736,11736,Alberto Oca,178,25,3,52,4,0,13.417',none,...,none,none,none,none,none,none,none,none,none,none
11737,11737,Mohammad Hossein Babagoli,41,6,0,0,0,1,2.026',none,...,none,none,none,none,none,none,none,none,none,none
11738,11738,Oier Sarriegi,119,7,2,16,0,0,7.819',none,...,none,none,none,none,none,none,none,none,none,none
11739,11739,Igor Vukcevic,110,36,0,16,0,1,8.162',3,...,0,0,0,0,185',none,none,none,none,none

In [5]:
cdata[cdata['world_rank']=='none']

,Unnamed: 0,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,...,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
0,0,Mohamed Sobhi,37,0,3,8,0,0,2.947',6,...,1,0,0,0,152',none,none,none,none,none
3,3,Ahmed Atef,15,3,0,2,0,0,341',none,...,none,none,none,none,none,none,none,none,none,none
4,4,Kirill Zinovich,40,4,3,9,0,0,2.478',9,...,1,1,0,0,487',none,none,none,none,none
5,5,Davide Veroli,60,4,1,6,0,1,4.788',none,...,none,none,none,none,none,none,none,none,none,none
6,6,Panutche Camara,213,17,21,20,1,0,14.912',4,...,0,0,0,0,193',none,none,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11735,11735,Goudarz Davoudi,35,0,2,1,1,44,3.105',none,...,none,none,none,none,none,none,none,none,none,none
11736,11736,Alberto Oca,178,25,3,52,4,0,13.417',none,...,none,none,none,none,none,none,none,none,none,none
11737,11737,Mohammad Hossein Babagoli,41,6,0,0,0,1,2.026',none,...,none,none,none,none,none,none,none,none,none,none
11738,11738,Oier Sarriegi,119,7,2,16,0,0,7.819',none,...,none,none,none,none,none,none,none,none,none,none
11739,11739,Igor Vukcevic,110,36,0,16,0,1,8.162',3,...,0,0,0,0,185',none,none,none,none,none